td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 25%;
}

.inner {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.number {
	background-color: #dde;
}

.unit {
	background-color: #edd;
}

.operator {
	background-color: #ded;
}

.container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.keypad {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.keypad table.buttons {
	width: 100%;
	height: 100%;
}

.field, .board-feet {
	height: 3.5em;
	padding: 8px;
	text-align: right;
}

.board-feet {
	background-color: #ddd;
	text-align: left;
}

.field-label {
	display: inline-block;
	font-weight: bold;
	padding: 6px 0;
	margin: 0 12px;
}

.field-text {
	display: inline-block;
	float: right;
	border: 1px solid black;
	width: 70%;
	height: 100%;
	padding: 2px 10px;
	font-size: 1.4em;
}

.board-feet .field-text {
	float: left;
	width: 50%;
}

.selected .field-text {
	border: 2px solid black;
	padding: 1px 9px;
}

.add {
	float: right;
	color: blue;
}

.dummy {
    margin-top: 75%;
}

.spacer {
	height: 300px;
}

@media screen and (min-width:768px) { 
	.container {
		width: 300px;
	}
}