td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	width: 25%;
}

.keypad {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.number {
	background-color: #dde;
}

.unit {
	background-color: #edd;
}

.operator {
	background-color: #ded;
}

.container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.outer-container {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.dummy {
    margin-top: 100%;
}

.spacer {
	height: 300px;
}

@media screen and (min-width:768px) { 
	.container {
		width: 300px;
	}
}